@model Cinema.Website.Areas.Manager.Models.MovieViewDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForeignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForeignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpaceDimensionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpaceDimensionText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
